
    <a href="index.html"><img src="../pubilc/image/header.jpg" class="img-responsive" alt=""> </a>
<nav class="navbar navbar-default navbar" role="navigation">

    <div class="container-responsive">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>



        <div class="navbar-collapse collapse">

            <ul class="nav nav-tabs" role="tablist">
                <li class="col-md-3 col-lg-3"><a href="#home" onmousedown="mDown(this)" onmouseup="mUp(this)">Homebase</a></li>
                <li class="col-md-2 col-lg-2"><a href="#about">Character Build</a></li>
                <li class="col-md-2 col-lg-2"><a href="#services">Game Stories</a></li>
                <li class="col-md-2 col-lg-2"><a href="#contact">Game blog</a></li>
                <li class="col-md-2 col-lg-2"><a href="#contact">About Us</a></li>
            </ul>
        </div>
    </div>


</nav>
<body>
    <div class="col-md-12">
        <div class="container">
            <div id="mainForm">

                <form action="/form" method="POST">

                    <label id="charactername" for="charactername">Character Name:</label>
                    <input name="charactername" type="text" class="form-control" placeholder="Ex: Diablo">

                    <br>
                    <br>

                    <label>Gender:</label>
                    <br>

                    <input type="radio" name="gender" value="male" checked id="male">
                    <label for="male">Male</label>
                    <br>
                    <input type="radio" name="gender" value="female" id="female">
                    <label for="female">female</label>

                    <br>
                    <input type="radio" name="gender" value="other" id="other">
                    <label for="other">Other:
                        <input type="form-control" name="firstname" id="firstname">
                    </label>


                    <br>
                    <br>
                    <label for="race">Race:</label>
                    <select name="race" id="race" class="form-control">
                        <option value="human">Human</option>
                        <option value="demon">Demon</option>
                        <option value="dwarf">Dwarf</option>
                        <option value="elf">Elf</option>
                        <option value="troll">Troll</option>
                        <option value="goblin">Goblin</option>

                    </select>

                    <br>
                    <br>

                    <label for="ride">Ride:</label>
                    <select name="ride" id="ride" class="form-control">
                        <option value="horse">Horse</option>
                        <option value="dragon">Dragon</option>
                        <option value="wolf">Wolf</option>
                        <option value="pig">Pig</option>
                        <option value="deer">Deer</option>
                        <option value="other">Other</option>

                    </select>

                    <br>
                    <br>

                    <label for= "weapon" id="weapon" name= "weapon">Weapon:</label>
                    <br>


                    <input type="radio" name="gender" value="sword" id="weapon">
                    <label class="radio-inline"><img id="sword" src="../pubilc/image/sword.jpg"></label>
                    <br>
                    <input type="radio" name="gender" value="spear" id="female">
                    <label class="radio-inline"><img id="sword" src="../pubilc/image/spear.jpg"></label>

                    <br>
                    <input type="radio" name="gender" value="axe" id="other">
                    <label class="radio-inline"><img id="sword" src="../pubilc/image/axe.jpg"></label>

                    <br>
                    <input type="radio" name="gender" value="bow" id="other">
                    <label class="radio-inline"><img id="sword" src="../pubilc/image/bow.jpg"></label>



                    <br>
                    <br>

                    <label for="message">Background Story:</label>
                    <br>

                    <textarea name="message" class="form-control" rows="10" cols="30" id="message">I am the child of the last guaridan and my parents were murdered brutally by demons. I am seeking my revenge...
                    </textarea>

                    <br>
                    <br>



                    <label for="color">Character Color </label>

                    <input type="color" name="favcolor" value="#ff0000" id="color">

                    <br>
                    <br>

                    <h3>Character Stats</h3>
                    <label for="range">Health</label>

                    <input type="range" name="points" min="0" max="10" id="health">

                    <br>
                    <br>
                    <label for="range">Strength</label>

                    <input type="range" name="points" min="0" max="10" id="strength">

                    <br>
                    <br>
                    <label for="range">Dexterity</label>

                    <input type="range" name="points" min="0" max="10" id="dexterity">

                    <br>
                    <br>
                    <label for="range">Intelligence</label>

                    <input type="range" name="points" min="0" max="10" id="intelligence">

                    <br>
                    <br>
                    <div class="form-group">
                        <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="eInputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="InputFile">File input</label>
                        <input type="file" id="InputFile">
                       
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Remember me
                        </label>
                    </div>

                    <br>
                    <br>

                    <button type="submit" class="btn btn-primary" onmouseover="mOver(this)" onmouseout="mOut(this)" onmousedown="mClick(this)">Submit</button>

                </form>
            </div>

        </div>
    </div>
    
  


